<!DOCTYPE html>
<html lang="en">
<head>

  <title>Bootstrap Example</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/stylesheet.css">
  
</head>
<body class="wrapper">
	<div class="wrapper container-fluid">	
		<header class="">
			<h1 class="" style="font-family: Comic Sans MS;">Your Cart</h1>
		</header>
		<hr class="mb-5">	
		<div class="container">    
			  <table class="table bg-light">
    			<thead>
    				  <tr>
        				  <th>No.</th>
        				  <th>Product name</th>
        				  <th>Amount</th>
        				  
      				  </tr>
    			 </thead>
    			 <tbody>
      				  <tr>
        				  <td>1</td>
				          <td>First Product</td>
				          <td>₹250</td>
      				  </tr>
				        <tr>
					        <td>2</td>
					        <td>Secound Product</td>
        					<td>₹800</td>
					      </tr>
      					<tr>
					        <td>3</td>
        					<td>Third Products</td>
        					<td>₹300</td>
      					</tr>
      					<tr class="text-success">
					        <td>4</td>
        					<td >Coupon code</td>
        					<td>₹100</td>
      					</tr>
      					<tr>
					        <td></td>
        					<td><b>Total</b></td>
        					<td><b>₹1250</b></td>
      					</tr>

    			</tbody>
    					
  			</table>

  			
    	</div>
    	<div class="container promo">
  			<form class="form-inline  " >
    			<input class="form-control " type="text" placeholder="Enter Coupon">
    			<button class="btn btn-success">Apply</button>
			</form>
		</div>
		<div class="mt-4 text-center">
			<a class="btn btn-primary">Conform</a>
		</div>	
			    		
	</div>

</body>
</html>